<div class="container my-5 py-5">
  <div class="row mt-5 pb-3">
      <div class="col-12 text-center">
          <h1 class="fs-1">Recipes</h1>
          <p class="fs-3">Welcome to the recipe management tool</p>
          <button class="btn btn-success btn-lg fw-bolder px-4" >Get started with <br/>Recipes</button>
      </div>
  </div>
  <div class="row mt-5 pt-5 justify-content-center">
      <div class="col-4">
          <h5 class="fs-3 fw-bold">Recipe</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <button class="btn btn-outline-secondary">View Documentation</button>
      </div>
      <div class="col-4">
          <h5 class="fs-3 fw-bold">Template</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <button class="btn btn-outline-secondary">View Documentation</button>
      </div>
  </div>
</div>
