<div class="container mt-3  bg-light rounded-3">
  <nav aria-label="breadcrumb bg-light">
    <ol class="breadcrumb p-1 ">
      <li class="breadcrumb-item"><a class="text-decoration-none" href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
  </nav>
</div>
<div class="container">
  <form class="d-flex justify-content-center" [formGroup]="fromGroup" (ngSubmit)="onSubmit()">
    <!-- <div class="w-100"> -->
    <div class="card w-25" style="width: 18rem;">
      <div class="card-header">
        Sign in
      </div>
      <div class="p-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <div *ngIf="fromGroup.get('email').errors?.email">
            Email invalid.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button [disabled]="fromGroup.invalid" type="submit" class="btn btn btn-primary w-100">Sign in</button>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-center">
    <div class="w-25 text-center m-3">
      <asl-google-signin-button id="login-gg-btn" type='standard' size="large" text="signup_with" width="322"></asl-google-signin-button>
      <div class="mt-2">
        <a routerLink="/register" class="text-decoration-none">You dont have an account? Sign up!</a>
      </div>
    </div>
  </div>
</div>
