$color-primary: #1da1f2;

:root {
    --transition-main-menu: .2s;
    --transition-toggle: .35s;
      // color
    --active-button: #ECF7F7;
    --success-badge-background: rgba(0, 169, 159, 0.12);
    --warning-badge-background: rgba(255, 191, 65, 0.12);
    --warning-color-opa-1: rgba(250, 120, 26, 0.1);
    --btn-hover-bg-color: #f4f4f4;
    --btn-hover-bg-light-color: #f8f8f8;
    --btn-active-bg-color: #E8F7F6;
    --btn-active-primary-color: rgba(0, 169, 159, 0.13);
    --devide-line-color: #e5e5e5;
    --primary-color: #00AA9F;
    --primary-hover: #33BBB2;
    --primary-active: #0AA095;
    --primary-disable: #B3E5E2;
  
    --secondary-hover: #F0FEFE;
    --secondary-active: #CBEFEB;
  
    --primary-color-opa-8: rgba(0, 170, 159, 0.08);
      --primary-color-opa-10: #00AA9F1A;
    --secondary-color: #f5f5f5;
    --primary-white: #FFFFFF;
    --secondary-white: #fafafa;
    --argent-color: #BFBFBF;
    --primary-black: #000000;
    --primary-green: #306465;
    --primary-purple: #6B696C;
    --primary-dark-gray: #212121;
    --header-dark-gray: #202020;
    --header-dark-gray-opa-60: rgba(32, 32, 32, 0.6);
    --header-dark-gray-opa-40: rgba(32, 32, 32, 0.4);
    --header-dark-gray-opa-50: rgba(32, 32, 32, 0.5);
    --header-dark-gray-opa-70: rgba(100, 100, 100, 0.7);
    --primary-dark-cyan: #21a9a0;
    --bg-move-task: #E5F7F5;
    --secondary-dark-gray: #747474;
    --primary-brown: #333;
    --error-color: #e01a00;
    --danger-color: #E1024F;
    --danger-hover: #ED0E5B;
    --danger-active: #D1003F;
    --danger-disable: rgba(225, 2, 79, 0.4);
    --danger-color-opa-10: rgba(225, 2, 79, 0.1);
    --danger-color-opa-4: rgba(225, 2, 79, 0.04);
    --danger-color-opa-40: rgba(225, 2, 79, 0.4);
    --tertiary-hover: #EDF0F2;
    --tertiary-active: #E6E9EB;
    --tertiary-disable: #F2F5F7;
    --warning-color: #FFB441;
    --active-color: #38dbd0;
    --button-color: #00aa9f;
    --disable-button-color:  #99D5CF;
    --bg-hover-move:  #E6F7F6;
    --button-secondary-color: #03a59c;
    --light-color: #F4F8F9;
    --placeholder-color: #9fa1a2;
    --border-color-base: #eaeaea;
    --border-color-light: #EDEDED;
    --border-color-green: #30bfb5;
    --border-color-danger: #FF0000;
    --radio-color: #009688;
    --radio-color-10: #00968819;
    --tab-color: #5c5c5c;
    --supplier-color: #7977db;
    --not-available-color: #9a9a9a;
    --select-option-color: #242424;
    --search-field-bg-color: #f6f6f6;
    --light-gray-color: #646464;
    --light-gray-color-opa-60: rgba(100, 100, 100, 0.6);
    --remaining-item-background: #E3E8EC;
    --toggle-checkbox-background: #DFDFE6;
    --white-small-circle: #FCFCFD;
    --delete-button-border: #E9ECF0;
    --select-box-hover-color: #dadada;
    --background-audio-call-color: #efefef;
    --manager-color: #4B7DE0;
    --border-search-input: #00AA9F;
    --border-auth-input: #009688;
    --highlight-search-text: #00AA9F;
    --background-file-denied: #FFF4F4;
    --date-pdf-file: #6b696c;
    --arrow-dropdown: #666666;
    --background-picture: #D8D8D8;
    --slider-runnable-track: #D9D9D9;
    --cropper-outline-color: rgba(239, 243, 244, 0.6);
    --white-smoke: #F5F5F5;
    --sonic-silver: #757575;
    --light-gray-border: #EEEEEE;
    --light-gray-border-2: #BCBCBC;
    --primary-green-opacity-01: #e5f6f5;
    --grey-button-color: #E0E0E0;
    --grey-table-header-color: #F9F9F9;
    --user-ownership: #00A99F;
    --user-tenancy: #FFBF41;
    --user-tenancy-badge-color: #FAA41A;
    --user-tenancies: #FAA41A;
    --user-property-manager: #4A7CE0;
    --border-input-text: rgba(0, 0, 0, 0.6);
    --dnd-error-background-color: rgba(194, 113, 113, 0.2);
    --dnd-success-background-color: rgba(0, 170, 159, .1);
    --selected-item: #ECF7F7;
    --unread-color: #E53659;
    --not-reply-color: #E12F4F;
    --message-background: #FFFFFF;
    --label-checkbox:#23262F;
    --light-white-gray: #F2F5F5;
    --border-color: #E7E8E8;
    --not-assigned-background-color: #F7F7F7;
    --not-assigned-color: #C7C7C7;
    --background-root-component-color: #fff;
    --group-option-color: #23262B;
    --task-selected-color: #EBF8F7;
    --item-in-task-selected: #D7EFED;
    --title-task: #0A0D26;
    --btn-primary-disabled-color: #B0E5E1;
    --btn-delete-bg-danger: rgba(225, 2, 79, 0.1) ;
    --overlap-color: #ECECEC;
    --divider: rgba(0, 0, 0, 0.12);
    --select-focus-outline: rgba(0, 170, 159, 0.6);
    --infoticket-border: rgba(100, 100, 100, 0.4);
    --control-panel-tag-hover: #00a99f08;
    --link-hover: #337ab7;
    --message-able-to-drag: #D8E5E4;
    --white-opacity-02: rgba(255, 255, 255, 0.2);
    --highlight-portfolio: rgba(0, 170, 159, 0.12);
    --tooltip-button-color: #EFAE2E;
    --krinis: #231F20;
    --table-header-gray: rgba(0,0,0,0.6);
    --item-hover: #E5F3F2;
    --item-active: #D8E6E5;
    --file-name: #344054;
    --file-size: #475467;
    --unidentified-color: #A7A9AC;
    --other-color: #EF3F47;
    // base button
    --button-shadow: 2px 10px 14px 0 rgba(0, 169, 159, 0.12);
    // base border
    --base-border: 1px solid rgba(0, 0, 0, 0.12);
    --root-component-radius: 8px;
    // font-size
    --base-font-size: 14px;
    --history-background-color: #F2F5F7;
    --round-wrapper-color: #F4F6F6;
    --nav-not-active-color: #767477;
    //layout
    --leftWidthFormAppbar1920: 365px;
    --rightWidthFormAppbar1920: 424px;
    --leftWidthFormAppbar1440: 284px;
    --rightWidthFormAppbar1440: 318px;
    --rightWidthFormAppbar16: 16px;
    --emergency-text-color: #F2F5F7;
    --un-highlight-ticket-button: #808181;
    --gray-scroll-bar: #121212;
    --background-conversation-checked: #FDFDFE;
    --background-btn-remove: #f1f1f1;
    --background-input-hover: #eaedef;
    --border-warning-invite-message: #FA781A;
    --background-color-invite-message: #FFF1E8;
  }
  


